.selectorConainer {
  display: flex;
  flex-wrap: nowrap;

  & > div {
    cursor: pointer;
    padding: 5px 20px;
    margin-left: -2px;
    border-color: #b8b8b8;
    border-width: 2px;
    border-style: solid;
  }

  & > div:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  & > div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  & > .selectorItemOn {
    color: $primary-dark;
    border-color: $primary-dark;
    background-color: lighten($color: $primary, $amount: 45%);
    z-index: 1;
  }
}
