.hangman_grid {
  z-index: 2;
  width: 950px;
  display: grid;
  grid-template-columns: 3fr 7fr;
  column-gap: 25px;
  padding: 5px;
}

.hangman_main {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: space-evenly;
  height: 100%;
}

.hangman_challenge_by {
  position: absolute;
  top: -38px;
  left: 1px;
  background-color: white;
  border: 3px solid $green;
  border-radius: $cornerRadius;
  box-shadow: $boxShadow;
  padding: 10px;
  z-index: -2;
  & > i {
    color: $green;
    margin-right: 5px;
  }
}

.hangman_out {
  font-family: "Roboto";
  font-size: 16px;
  position: absolute;
  top: -38px;
  left: 1px;
  background-color: white;
  border: 3px solid red;
  border-radius: $cornerRadius;
  box-shadow: $boxShadow;
  padding: 10px;
  z-index: -1;
  font-weight: bold;
  & > i {
    color: red;
  }
  & > * {
    cursor: pointer;
  }
  cursor: pointer;
}

.hangman_turn_letter {
  position: absolute;
  top: -38px;
  right: 1px;
  background-color: white;
  border: 3px solid $primary;
  border-radius: $cornerRadius;
  box-shadow: $boxShadow;
  padding: 10px;
  z-index: -2;
  & > i {
    color: $primary-dark;
    margin-right: 5px;
  }
}

.hangman_life {
  position: absolute;
  bottom: -38px;
  right: 1px;
  background-color: white;
  border: 3px solid red;
  border-radius: $cornerRadius;
  box-shadow: $boxShadow;
  padding: 10px;
  z-index: -2;
  & > i {
    color: red;
  }
}

.bc {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.c {
  display: flex;
  justify-content: center;
  height: 300px;
  flex: 1 0 0;
}

.leaderboard {
  max-height: 570px;
  z-index: 3;
}

.leaderboard_title {
  font-weight: 500;
  color: $primary-dark;
  font-size: 22px;
  letter-spacing: 0.4px;
  & > i {
    margin-right: 5px;
  }
  margin-bottom: 10px;
}

.leader_players_container {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
  }

  &::-webkit-scrollbar-track {
    border-radius: 15px;
    background: $ligth-grey; /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: $grey; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
  }
}

.leader_player_container {
  border-radius: 10px;
  box-shadow: $boxShadow;
  color: $primary-dark;
  display: flex;
  padding: 15px 10px;
  column-gap: 5px;

  & > img {
    flex: 0 0 0;
  }

  & > .leader_player_info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;

    & > :nth-child(1) {
      font-size: 16px;
      font-weight: bold;
    }

    & > :nth-child(2) {
      font-size: 16px;
      color: $grey;
      & > i {
        font-size: 17px;
      }
    }
  }

  & > .leader_player_rank {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & > :nth-child(1) {
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.avatar {
  vertical-align: middle;
  height: 50px;
  border-radius: 50%;
}

.secret_text_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}

.hangman_segment_container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.secret_letter {
  user-select: none;
  font-family: $hangmanFont;
  font-weight: 400;
  font-size: 40px; //40 px    25px
  border-bottom: 4px solid $primary-dark;
  line-height: 28px; //23px    15px
  min-width: 25px;
  text-align: center;
}

.secret_letter_unknown {
  width: 25px;
  height: 32px;
}

.secret_letter_space {
  width: 35px;
  line-height: 0px;
}

.hangman_key_container {
  width: 41px;
  height: 56px;
  position: relative;
}

.hangman_keyboard {
  height: 300px;
  flex: 1 0 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
  margin-bottom: 20px;
}

.hangman_key_decorator {
  color: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.hangman_key {
  color: black;
  user-select: none;
  border: 3px solid $primary-dark;
  font-family: $hangmanFont;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  border-radius: $cornerRadius;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover:not([disabled]) {
    background-color: $primary-dark;
    color: white;
  }

  &:disabled {
    cursor: default;
    border-color: $ligth-grey;
    color: $ligth-grey;
  }
}

.decorator_key {
  z-index: 4;
}
