//Colors
$background: #e8e8e8;
$grey: #585757;
$ligth-grey: #e3e3e3;
$green: #00ba34;
$primary: #0085ff;

$cornerRadius: 8px;
$padding: 20px;

$boxShadow: 0 7px 30px -10px rgba(
    $color: #96aab4,
    $alpha: 0.5,
  );

//hangman
$hangmanFont: "Architects Daughter";
